<div class="ekart-product--container">
  <!-- <img [src]="product.prodImg" alt="iPhone" />
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ "$" + product.price }}</p>
  <p>Color: {{ product.color }}</p>
  <p>Discounted Price: {{ getDiscountedPrice().toFixed(2) }}</p>
  <p>{{ ifInStock() }}</p>
  <button [disabled]="!(product.inStock > 0)">Buy Now</button>
  <input type="text" [value]="name" (input)="onChange($event)" />
  <p>Name={{ name }}</p>`
  <button (click)="decrementCartValue()" (click)="disableIfZero()">-</button>
  <span>{{addToCart}}</span>
  <button (click)="incrementCartValue()">+</button> -->
  <app-search></app-search>
  <!-- <div *ngFor="let item of listOfString">
    <p>Current element of array is: {{item}}</p>
  </div> -->
</div>
